<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Self-Check Kiosk</title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1>show webcam</h1>

        <div class="split">
            <div class="pane left">
                <div id="camera" autoplay playsinline></div>
            </div>
            <div class="pane right">
                <p>설명 또는 제어 버튼을 여기에 배치하세요.</p>

                <p id="result-text">(여기에 인식 결과가 뜹니다)</p>

                <p id="status">상태: 대기 중</p>

            </div>
        </div>

        <script src = "https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.js"></script>
        <script src="/static/index.js"></script>
    </body>
</html>

