<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Self-Check Kiosk</title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1>show webcam</h1>

        <div class="split"> 
            <div class="pane left">
                <div id="camera" autoplay playsinline></div>
            </div>
            <div class="pane right">
                <div class="item title">구매 목록</div>

                <div class="item list">
                    <!-- <div class="item-card">
                        <div class="item-info">
                            <span class="name">포테토칩</span>
                            <span class="price">₩3000</span>
                        </div>
                        <div class="subtotal-controls">
                            <div class="quantity-controls">
                                <button class="decrease">-</button>
                                <span class="quantity">1</span>
                                <button class="increase">+</button>
                            </div>
                            <span class="subtotal">₩3000</span>
                        </div>
                    </div>

                    <div class="item-card">
                        <div class="item-info">
                            <span class="name">투게더</span>
                            <span class="price">₩9000</span>
                        </div>
                        <div class="subtotal-controls">
                            <div class="quantity-controls">
                                <button class="decrease">-</button>
                                <span class="quantity">2</span>
                                <button class="increase">+</button>
                            </div>
                            <span class="subtotal">₩18000</span>
                        </div>
                    </div>

                    <div class="item-card">
                        <div class="item-info">
                            <span class="name">진로</span>
                            <span class="price">₩5000</span>
                        </div>
                        <div class="subtotal-controls">
                            <div class="quantity-controls">
                                <button class="decrease">-</button>
                                <span class="quantity">1</span>
                                <button class="increase">+</button>
                            </div>
                            <span class="subtotal">₩5000</span>
                        </div>
                    </div> -->
                </div>

                <div class="item pay">
                    <div class="total-pay">
                        <div class="item-total">
                            <span class="total-label">총액</span>
                            <span class="total-amount">₩0</span>
                        </div>
                        <button class="pay-button">결제하기</button>
                    </div>
                </div>

            </div>
        </div>

        <script src = "https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.js"></script>
        <script src="/static/index.js"></script>
    </body>
</html>

